* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  /* background-image: url(../../public/images/bg4.jpg); */
}
body{
  background-image: url(./../images/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
label {
    position: center;
    left: 50px;
    top: 65px;
    background-color: #ffff;
    padding: 0px 5px;
    transition: transform 0.3s ease color 0.3s ease;
    margin-top: 5px;
  }
  /* input:focus+label{ 
    transform: translateY(-25px);
    color: #0051ff
  } */
  
  input:focus {
    border-color: #0051ff;
  } 
  .form-user-update{
    display: flex;
    align-items: "center";
    justify-items: center;
    justify-content: start;
    flex-direction: column;
    width: 50%;
    margin: 20px;
  }